### collecting CPI data stored in the Original_CPI_data, converting the data to the programmable format and storing it in CPIs_data_2012-2022Oct.csv.
### (The data in the Original_ CPI_data folder is from https://www.bls.gov/cpi/data.htm)

In [6]:
import pandas as pd

In [7]:
files_list = ['Food','Alcoholic_beverages','Housing', 'Apparel','Transportation', 'Healthcare', 'Entertainment','Education_and_communication','Other_goods_and_services']
region_list = ['Western','Northeast','Midwest','South','All']

In [8]:
for region in region_list:    
    for file in files_list:
        directory = 'Original_CPI_data/' + region + '/'
        file_extension = '_2012-2022Oct.xlsx'
        path = directory + file + file_extension

        df = pd.read_excel(path, sheet_name='BLS Data Series')

        column_index = df.index[df['CPI for All Urban Consumers (CPI-U)'] == 'Year'].values[0]

        column_list = df.loc[column_index,:].values.tolist()

        df = df.loc[column_index+1:,:]
        df.columns = column_list
        df = df.drop(columns=['HALF1','HALF2'])
        df['Year'] = df['Year'].astype(int)
        df.reset_index(inplace=True, drop=True)

        df.set_index('Year',inplace=True)
        df = df.stack()
        df = df.reset_index()
        df.columns = ['Year','Month', file]

        if file == 'Food':
            cpi_df = df.copy()
        else:
            cpi_df = cpi_df.merge(df, how='left', on=['Year','Month'])

    cpi_df['Region'] = region
    if region == 'Western':
        cpi_df = cpi_df[['Region','Year','Month','Food','Alcoholic_beverages','Housing', 'Apparel','Transportation', 'Healthcare', 'Entertainment','Education_and_communication','Other_goods_and_services']]
        CPIs_df = cpi_df.copy()
    else:
        CPIs_df = pd.concat([CPIs_df, cpi_df])

/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [9]:
CPIs_df

,Region,Year,Month,Food,Alcoholic_beverages,Housing,Apparel,Transportation,Healthcare,Entertainment,Education_and_communication,Other_goods_and_services
0,Western,2012,Jan,233.891,232.066,230.442,115.737,209.836,415.36,109.078,133.809,384.169
1,Western,2012,Feb,233.781,234.358,231.045,116.575,213.387,417.828,108.919,133.901,383.57
2,Western,2012,Mar,234.271,233.706,231.487,119.935,221.749,418.91,109.057,134.127,383.518
3,Western,2012,Apr,234.633,233.049,231.797,121.428,222.885,419.221,109.074,134.138,384.769
4,Western,2012,May,234.519,233.445,232.514,120.922,224.095,421.174,108.698,134.372,383.651
...,...,...,...,...,...,...,...,...,...,...,...,...
135,All,2022,Jun,305.041,273.537,300.927,126.619,284.644,546.717,130.677,143.335,505.312
136,All,2022,Jul,308.532,274.344,302.327,125.188,278.958,549.562,131.087,143.15,507.204
137,All,2022,Aug,310.875,275.627,304.506,127.328,270.334,553.429,131.437,143.687,510.892
138,All,2022,Sep,313.142,275.81,306.521,130.143,266.109,556.323,131.581,144.089,512.565
139,All,2022,Oct,315.323,278.009,307.816,129.414,267.979,554.043,132.49,143.988,514.958

In [10]:
CPIs_df.to_csv('CPIs_data_2012-2022Oct.csv', index=False)